#contactpage{
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin : 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactpagetitle{
    
    font-size: 3rem;
    font-weight: 600 ;
    padding-top: 3rem;
    margin-bottom: 1.5rem;

}
.contactdesc{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;

}

.contactform{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:98vw ;
    max-width: 60rem;
}
.name, .email, .msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}
.submitbtn{
    background: yellow;
    color: black;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem 3.75rem;
    margin: 2rem;
}

.links{
    display: flex;
    flex-wrap: wrap;
}
.link{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 0.75rem;
}
#formerror{
    color: red;
}